<section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="abtsection">
            <h4>About Auctions</h4>
            <p>
              Augeo, is a newly formed service provider, established with an
              objective of providing wide range of stressed asset management
              services, e-selling, e-sourcing, and Knowledge services across
              diverse industry verticals that empower businesses with greater
              process and efficiencies. 123done.in, a private auction portal of
              Augeo, offers transparent and efficient electronic marketplaces
              where buyers and sellers of diverse goods and services transact in a
              model that delivers value to both parties. e-procurement services of
              Augeo through 123done.in, offers real-time, simultaneous, anonymous
              and continuous negotiation between qualified suppliers – where
              suppliers compete among themselves to offer the best possible price
              for the highest possible quantity under the existing conditions in
              order to bag the order. These services spanning the entire eCommerce
              spectrum of modern India.
            </p>
            <button [routerLink]="['/signup']">signup</button>
            <a [routerLink]="['/signup']">
                link to user component
              </a>
          </div>
        </div>
  
        <div class="col-md-7">
          <img src="http://mockups.ajatus.us/auction/img/abt.jpg" />
        </div>
      </div>
    </div>
  </section>
  
  <!-- <section class="page-section bg-grey">
    <div class="container">
      <div class="row">
        <h5>How it all started</h5>
        <p>Auctions was founded in 2008; it was originally designed as a website where collectors could manage and keep track of their collections online. Visitors can still add new items to the existing catalogue of collectables. Unsurprisingly, the name Auctions is a combination of the words ‘catalogue’ and ‘wiki’. In 2011, Auctions began hosting weekly auctions in various categories, including art, antiques, classic cars, watches, jewellery, fashion, books, and stamps.</p>
      </div>
    </div>
  </section> -->
  
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Company Details</h5>
          <p>
            818, 8Th Floor, Tower- A<br />
            I Thum, Sector 62 <br />
            Noida-201301<br />
          </p>
          <p>E-mail : info@123done.in<br />Phone : +91-120-4875000</p>
        </div>
  
        <div class="col-md-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4210.072128167899!2d77.36988056260817!3d28.62679099525009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce550ad860eeb%3A0xfba24a7c2d170983!2sI-thum+and+Grandslam+Developers+Pvt+ltd!5e0!3m2!1sen!2sin!4v1562119743315!5m2!1sen!2sin"
            width="100%"
            height="230"
            frameborder="0"
            style="border:0"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </section>
  